* {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #F5F5DC;
    color: #4E3629;
    box-sizing: border-box;
}

body {
    border: 2px solid black;
    padding-top: 0%;
    max-width: 900px;
    margin: 0% auto;
    margin-top: 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

img {
    width: auto;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Home Page Below */


h1, h2, p {
    width: auto;
    padding-left: 5px;
    font-weight: 100;
}

.recipe-links {
    display: block;
    padding-inline-start: 0;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
}

li a {
    font-size: 30px;
    padding-left: 5px;
    text-align: center;
    justify-content: space-evenly;
    width: auto;
    color: #333;
    font-weight: 500;
    padding-left: 3px;
    text-decoration: none;
}

.lasagna {
    text-align: left;
}
.pizza {
    text-align: center;
    padding: 20px;
}
.tacos {
    text-align: right;
}
/* Recipe Page Styles */

h2 {
    text-decoration: underline;
    font-weight: 550;
    font-size: 30px;
    padding-left: 40px;
}
p {
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.home {
    color: cornflowerblue;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

h3 {
    text-decoration: underline;
    padding-left: 40px;
}