* {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #F5F5DC;
    color: #4E3629;
    box-sizing: border-box;
}

a {
    color: cornflowerblue;
    text-decoration: none;
    font-size: x-large;
    padding-left: 3px;
}

/* Home Page Below */

h1 {
    /* Center align h1 with img */
}

img {
    width: auto;
    height: 400px;
}

h1, h2, p {
    width: auto;
    padding-left: 5px;
    font-weight: 100;
}

ul a {
    font-size: x-large;
    padding-left: 5px;
    list-style-type: none;
    text-align: left;
    justify-content: space-evenly;
    width: auto;
    text-decoration: underline;
    line-height: 40px;
    color: #333;
}

/* Recipe Page Styles */

h2 {
    text-decoration: underline;
    font-weight: 550;
}
p {
    font-size: large;
}