* {
    font-family: "Roboto", Arial, sans-serif;
}

#recipes-header {
    text-align: left;
}

/* Home Page Below */

img {
    width: auto;
    height: 400px;
}

h1 {
    width: auto;
}

#recipe-links {
    font-size: x-large;
    padding-left: 5px;
    list-style-type: none;
    text-align: left;
    justify-content: space-evenly;
    width: auto;
    text-decoration: none;
    line-height: 40px;
}